body{
    background-color: rgb(12, 12, 12);
    min-width: 98vw ;
    min-height: 97   vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .conteiner{
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

div{
    align-items: center;
    text-align: center;
}

h1,p{
    color: white;
}

h1{
   text-align: center;
}

a{
    text-decoration: none;
}
